{% extends 'base.html' %}

{% block content %}
    <h2>User language list</h2>
    <ul>
        {% for ul in user_language_list %}
             <li>{{ ul.language.name }} - {{ ul.language.shortcut }}</li>
        {% endfor %}
    </ul>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <button class="select-user-language btn btn-primary" type="button" name="button">Add language</button>
    <script type="text/javascript">
        $(function () {
	    $(".select-user-language").modalForm({formURL: "{% url 'lang_learning:user_language' %}"});
        });
    </script>

{% endblock %}
